@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: white;
}
.wrapper {
  display: flex;
  position: relative;
}
.wrapper .main_content {
  width: 100%;
  /* margin-left: 285px; */
}
.wrapper .main_content .header {
  /* padding: 18px; */
  margin-top: 10px;
  background: #fff;
  color: #000000;
  font-size: 20px;
}

.wrapper .main_content .info {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #717171;
  line-height: 25px;
}
.wrapper .main_content .info div {
  margin-bottom: 20px;
}
.txt {
  width: 90%;
  margin-inline-start: 10px;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.sampleresponse {
  background-color: white;
  /* padding: 25px; */
  margin-top: 20px;
}
.response {
  width: 100%;
  /* 
  background: rgb(0, 0, 0); */
  text-emphasis-color: white;
}
