* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  background: #cad1d6;
}

.bookmark-container {
  margin-top: 50px;
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.bookmark-container > div {
  width: 500px;
  margin-left: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
  /* text-align: center; */
  line-height: 35px;
}

.bookmark-div {
  height: 110px;
  border-radius: 25px;
  /* border: 2px solid #4ec6de; */
}

.bookmark-img {
  height: 30px;
  width: 30px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-top: 25px;
}

.bookmark-domain {
  margin: 10px;
  margin-top: 5px;
  margin-left: 0px;
  /* align-content: space-between; */
}

.bookmark-hashtag {
  margin-top: -94px;
  margin-left: 100px;
}

.bookmark-time {
  margin-top: -5px;
  margin-left: 100px;
}

.bookmark-similar {
  margin-top: -35px;
  margin-left: 430px;
}

hr {
  margin-top: 25px;
}

#similar {
  color: #003333;
  font-size: 90%;
  border-bottom: #d3d3d3 1px solid;
  border-left: #d3d3d3 1px solid;
  border-top: #d3d3d3 1px solid;
  border-right: #d3d3d3 1px solid;
}

.similar-container {
  display: flex;
  flex-direction: column;
}

.keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  border-radius: 25px;
  /* border: 2px solid #4ec6de; */
}

.keyword-data {
  width: 120px;
  border-radius: 25px;
  border: 2px solid #4ec6de;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.similar-website {
  border-radius: 25px;
  /* border: 2px solid #4ec6de; */
  margin-top: 30px;

  text-align: center;
}

.similar-link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.similar-link a {
  color: black;
}

.button {
  margin-top: 10px;
  margin-left: 68%;
  cursor: pointer;
}

.button_login {
  height: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #4ec6de;
  color: black;
  border-radius: 5px;
}

input[type="submit"] {
  height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #4ec6de;
  color: black;
  border-radius: 5px;
}

.button_similar {
  height: 32px;
  text-align: center;
  text-decoration: none;
  background-color: #4ec6de;
  color: black;
  border-radius: 5px;
}

.username {
  margin-left: 60%;
  margin-top: -24px;
  font-size: 18px;
}

.badge {
  margin-top: 10px;
  margin-right: 55px;
}
.badge-link {
  text-decoration: none !important;
  color: black;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.logout-container {
  margin-left: 20%;
  margin-right: 20%;
}

.tabbed {
  width: 1000px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: 10%;
}

.tabbed > input {
  display: none;
}

.bookmark_hashtag {
  display: flex;
  flex-direction: row;
}
.tabbed > label {
  margin-right: 10%;
  display: block;
  float: left;
  padding: 12px 20px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.tabbed > input:checked + label {
  background: #4ec6de;
}

.tabs {
  clear: both;
  perspective: 600px;
}

.tabs > div {
  width: 1050px;
  position: absolute;
  /* border: 2px solid #4ec6de; */
  padding: 10px 0px 0px;
  line-height: 1.4em;
  opacity: 0;
  /* transform: rotateX(-20deg); */
  /* transform-origin: top center; */
  /* transition: opacity 0.3s, transform 1s; */
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
  /* transform: rotateX(0); */
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed {
    width: 400px;
  }

  .tabbed > label {
    display: none;
  }

  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    /* transform: none;*/
    /* margin-bottom: 60px; */
  }

  .tabs > div h2 {
    /* border-bottom: 2px solid #4ec6de; */
    padding-bottom: 0.5em;
  }
}

.searchBox {
  position: absolute;
  left: 15%;
  top: 10px;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  margin-top: -10px;
  margin-right: -7px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  /* float: left; */
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  margin-top: -10px;
  margin-right: 7px;
}

@media screen and (max-width: 620px) {
  .searchBox > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

.bookmarks_main {
  display: flex;
  justify-content: space-between;
}

.similar_website {
  margin-left: 10%;
}

.similar_typo {
  text-align: center;
  font-size: 26px;
}

#page-numbers {
  margin-top: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  /* margin-left: 30px; */
}

.li-page {
  margin-right: 20px;
  width: 20px;
  text-align: center;
  border: 10px;
  border-radius: 20px solid black;
  color: white;
  background-color: #003333;
  cursor: pointer;
}

.hashtag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  margin-top: 20px;
}

.insight_terminology_terms {
  display: flex;
  flex-wrap: wrap;
}

.insight_terminology {
  text-align: center;
}

.bookmark {
  margin-left: -120px;
}

.buttonTrue {
  background-color: white;
  color: black;
  height: 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.buttonFalse {
  height: 32px;
  text-align: center;
  text-decoration: none;
  background-color: #4ec6de;
  color: black;
  border-radius: 5px;
}

.resetHashtag,
.resetHashtag:hover {
  text-decoration: none;
  color: white;
}

.hashtag_clickable {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.hashtag_clickable:hover,
.hashtag_clickable:focus {
  color: blue;
  text-decoration: none;
}

.logouttext {
  margin-left: 170px;
}

#left {
  margin-left: 200px;
}

.nav {
  font-size: 22px;
}

#badge {
  margin-left: 170px;
}

#extension {
  margin-right: 100px;
}

#dropdown-basic {
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  margin-right: 100px;
  margin-top: -25px;
}

#dropdown-item {
  padding: 0.25rem 2rem;
  /* background-color: #4ec6de; */
}

.downloadextension {
  border: light 1px solid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  background: #4ec6de;
  padding: 1rem;
}

.toolmark {
  width: 150px;
  margin-left: 50px;
  margin-top: -25px;
}

.user {
  /* width: 30%; */
  margin-top: 10px;
  margin-right: 50px;
  float: right;
}
#close-remove::after {
  content: "x";
}

.col-md-6 {
  margin-top: 70px;
}

.head {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin-left: 500px;
}

.subhead {
  justify-content: center;
  margin-left: 550px;
}
mark {
  color: rgb(0, 162, 255);
}

#watch {
  width: 50%;
}
@media screen and (max-width: 600px) {
  #badge {
    margin-left: 20px;
  }

  #extension {
    margin-right: 10px;
  }

  #dropdown-basic {
    margin-right: 7px;
  }
  .hashtag_clickable {
    text-decoration: none;
    color: black;
    margin-left: 30px;
  }

  .hashtag_clickable:hover,
  .hashtag_clickable:focus {
    color: blue;
    text-decoration: none;
  }

  body {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
}
